@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

body {
  background-color: #0d0d0d;
  font-family: "Lexend Giga", serif;
}

/* Botones personalizados */
.btn-custom {
  background-color: #283a2d;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px 0; /* Ajuste de margen vertical; el horizontal lo maneja Bootstrap con mx-1 en la navbar */
  border-radius: 2px;
  font-size: 12px;
}

.btn-custom:hover {
  background-color: #405b47;
}

/* Imagen principal */
.img-agency {
  padding: 6px 0;
}

.img-agency img {
  width: 100%;        /* La imagen ocupará el ancho del contenedor padre */
  height: 400px;      /* Altura fija, según tus necesidades */
  object-fit: cover;  /* Mantiene la proporción sin deformar */
}

/* Botón To Janitor específico (opcional) */
#janitor {
  font-size: 13px;
  font-style: oblique;
  /* La clase w-100 (Bootstrap) ya lo hace de ancho completo */
}
