@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

* {
    background-color: #0d0d0d;
    font-family: "Lexend Giga", serif;
    text-align: center;
}

.container .btn {
    background-color: #283a2d; /* Color morado */
    color: whitesmoke; /* Color del texto */
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px; /* Espaciado entre botones */
    border-radius: 2px;
    font-size: 12px;
    display: inline-block;
    text-align: center; /* Centrar la imagen y botones */
}

.container .btn:hover {
    background-color: #405b47; /* Color más oscuro al pasar el mouse */
}

.img-agency{
padding-bottom: 6px;
padding-top: 6px;

}

.img-agency img {
    width: 38%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 400px; 
    object-fit: cover; /* Evita que la imagen se deforme */
}

/*BOTON TO JANITOR*/
#janitor {
    background-color: #283a2d; /* Color morado */
    color: whitesmoke; /* Color del texto */
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px; /* Espaciado entre botones */
    border-radius: 2px;
    font-size: 13px;
    display: inline-block;
    text-align: center; /* Centrar la imagen y botones */
    font-style: oblique;
    width: 36%;
}

#janitor:hover {
    background-color: #405b47; /* Color más oscuro al pasar el mouse */
}
